* text=auto
* text eol=lf

# Windows forced line-endings
/.idea/* text eol=crlf

# Gradle wrapper
*.jar binary

# Images
*.webp binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.swp binary

# Email patches contain diff markers and a mail footer that look like whitespace errors.
/patches/*.patch whitespace=-blank-at-eol,-blank-at-eof
