<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Debug-only emulator verification entry points. Production variants keep these private. -->
        <activity
            android:name="eu.kanade.tachiyomi.ui.reader.ReaderActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
